/* Второй шрифт */
@font-face {
    font-family: 'CustomFont2';
    src: url('Khand-Bold.ttf') format('opentype');
}

body {
    display: flex;
    background-image: linear-gradient(90deg, white, #93879D);
    color: white;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    transition: background 0.3s ease, color 0.3s ease;
}

.upPanel {
    height: 80px;
    width: calc(100vw - 100px); /* Устанавливает ширину элемента на 100px меньше ширины окна */
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgb(61, 61, 61), rgb(133, 121, 145));
    border-radius: 25px;
    border: 3px solid rgb(120, 110, 118); /* Обводка толщиной 3px, серого цвета */
}

.Exit {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.ExitImg {
    height: 50px;
    width: 70px;
    background-image: url('Exit.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Exit {
    top: 10px;
    left: 10px;
}

.Plus {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.PlusImg {
    height: 50px;
    width: 70px;
    background-image: url('Plus.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Plus {
    top: 10px;
    left: 100px;
}
.Scripting {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.ScriptingImg {
    height: 45px;
    width: 65px;
    background-image: url('CMD.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Scripting {
    top: 10px;
    left: 190px;
}

/* Медиазапросы для адаптивности */

/* Для мобильных устройств (меньше 600px) */
@media (max-width: 600px) {
    .upPanel {
        width: calc(100vw - 40px); /* Уменьшаем ширину панели */
        height: 60px; /* Уменьшаем высоту панели */
    }

    .Exit, .Plus, .Scripting {
        width: 50px; /* Уменьшаем ширину кнопок */
        height: 50px; /* Уменьшаем высоту кнопок */
        left: 10px; /* Убираем отступы по горизонтали для мобильных */
    }

    .Plus {
        left: 70px; /* Увеличиваем отступ для кнопок */
    }

    .Scripting {
        left: 130px;
    }
}

/* Для планшетов (от 601px до 1024px) */
@media (max-width: 1024px) and (min-width: 601px) {
    .upPanel {
        width: calc(100vw - 60px); /* Немного уменьшаем ширину панели */
        height: 70px; /* Увеличиваем высоту панели */
    }

    .Exit, .Plus, .Scripting {
        width: 60px; /* Увеличиваем ширину кнопок */
        height: 60px; /* Увеличиваем высоту кнопок */
        left: 20px; /* Увеличиваем отступы с краёв */
    }

    .Plus {
        left: 100px; /* Расстояние между кнопками */
    }

    .Scripting {
        left: 180px;
    }
}

/* Для больших экранов (больше 1024px) */
@media (min-width: 1025px) {
    .upPanel {
        width: calc(100vw - 100px); /* Стандартная ширина панели */
        height: 80px; /* Стандартная высота панели */
    }

    .Exit, .Plus, .Scripting {
        width: 80px; /* Стандартная ширина кнопок */
        height: 60px; /* Стандартная высота кнопок */
    }

    .Exit {
        left: 10px; /* Отступ для кнопки Exit */
    }

    .Plus {
        left: 100px; /* Отступ для кнопки Plus */
    }

    .Scripting {
        left: 190px; /* Отступ для кнопки Sprites */
    }
}

.rightPanel {
    height: calc(80vh - 100px);
    width: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    background-image: linear-gradient(90deg, rgb(61, 61, 61), rgb(133, 121, 145));
    border-radius: 25px;
    border: 3px solid rgb(120, 110, 118);
    transform: translateY(-50%);
}

.VisualScript {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.VisualScriptImg {
    height: 50px;
    width: 70px;
    background-image: url('VSScript.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.VisualScript {
    top: 10px;
    left: 10px;
}

.Sprites {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.SpritesImg {
    height: 50px;
    width: 70px;
    background-image: url('Sprites.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Sprites {
    top: 100px;
    left: 10px;
}

.Ads {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.AdsImg {
    height: 40px;
    width: 60px;
    background-image: url('AD.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Ads {
    top: 190px;
    left: 10px;
}

.BuildSettings {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.BuildSettingsImg {
    height: 50px;
    width: 70px;
    background-image: url('BuildSettings.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.BuildSettings {
    top: 300px;
    left: 10px;
}

.Musics {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.MusicsImg {
    height: 50px;
    width: 70px;
    background-image: url('Musics.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Musics {
    top: 390px;
    left: 10px;
}

.Play {
    height: 60px;
    width: 80px;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(81, 78, 78), rgb(62, 55, 62)); /* Фон кнопки */
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.PlayImg {
    height: 50px;
    width: 70px;
    background-image: url('Play.png'); /* Изображение для кнопки */
    background-size: contain; /* Уменьшаем изображение, чтобы оно помещалось в кнопке */
    background-position: center;
    background-repeat: no-repeat;
}

.Play {
    top: 490px;
    left: 10px;
}

/* Медиазапросы для адаптивности */

/* Для мобильных устройств (меньше 600px) */
@media (max-width: 600px) {
    .rightPanel {
        width: 60px;
        height: calc(70vh - 60px); /* Уменьшаем высоту на мобильных */
    }
    
    .VisualScript, .Sprites, .Ads, .BuildSettings, .Musics, .Play {
        width: 50px; /* Уменьшаем ширину кнопок */
        height: 60px; /* Уменьшаем высоту кнопок */
    }

    .VisualScript {
        top: 5px;
    }

    .Sprites {
        top: 80px;
    }

    .Ads {
        top: 160px;
    }

    .BuildSettings {
        top: 240px;
    }

    .Musics {
        top: 320px;
    }

    .Play {
        top: 400px;
    }
}

/* Для планшетов (от 601px до 1024px) */
@media (max-width: 1024px) and (min-width: 601px) {
    .rightPanel {
        width: 70px;
        height: calc(75vh - 80px); /* Подстраиваем высоту под планшеты */
    }

    .VisualScript, .Sprites, .Ads, .BuildSettings, .Musics, .Play {
        width: 55px; /* Ширина кнопок на планшетах */
        height: 70px; /* Высота кнопок на планшетах */
    }

    .VisualScript {
        top: 10px;
    }

    .VisualScript {
        top: 120px;
    }

    .Ads {
        top: 200px;
    }

    .BuildSettings {
        top: 280px;
    }

    .Musics {
        top: 360px;
    }

    .Play {
        top: 420px;
    }
}

/* Для больших экранов (больше 1024px) */
@media (min-width: 1025px) {
    .rightPanel {
        width: 80px;
        height: calc(80vh - 100px); /* Выровняем для больших экранов */
    }

    .VisualScript, .Sprites, .Ads, .BuildSettings, .Musics, .Play {
        width: 60px; /* Стандартная ширина для больших экранов */
        height: 80px; /* Стандартная высота */
    }

    .VisualScript {
        top: 10px;
    }

    .Sprites {
        top: 100px;
    }

    .Ads {
        top: 190px;
    }

    .BuildSettings {
        top: 300px;
    }

    .Musics {
        top: 390px;
    }

    .Play {
        top: 490px;
    }
}

/* PlusObjectsEditor */

.PlusObjectsEditor-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-PlusObjectsEditor {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-PlusObjectsEditor img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-PlusObjectsEditor:hover {
    transform: scale(1.1);
}

.PlusObjectsEditor-content {
    text-align: center;
}

.titlePlusObjectsEditor {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

/* SpritesEditor */

.SpritesEditor-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-SpritesEditor {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-SpritesEditor img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-SpritesEditor:hover {
    transform: scale(1.1);
}

.SpritesEditor-content {
    text-align: center;
}

.titleSpritesEditor {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

/* ThreeDObjectsMenu */

.ThreeDObjectsMenu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-ThreeDObjectsMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-ThreeDObjectsMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-ThreeDObjectsMenu:hover {
    transform: scale(1.1);
}

.ThreeDObjectsMenu-content {
    text-align: center;
}

.titleThreeDObjectsMenu {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

/* GUIMenu */

.GUIMenu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-GUIMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-GUIMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-GUIMenu:hover {
    transform: scale(1.1);
}

.GUIMenu-content {
    text-align: center;
}

.titleGUIMenu {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

#panel {
    position: absolute; /* Используем абсолютное позиционирование */
    width: 50%;
    height: 60%;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем панель на 50% по обеим осям */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Скрываем элементы, выходящие за пределы панели */
}

.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #3498db;
    position: absolute;
    cursor: grab; /* Устанавливаем курсор для перетаскивания */
}

.scroll-containerPlus {
    width: 300px; /* ширина контейнера */
    height: 400px; /* высота контейнера */
    border: 1px solid #ccc; /* рамка для визуализации */
    overflow-y: scroll; /* вертикальная прокрутка */
    padding: 10px; /* отступы внутри */
}

.scroll-containerPlus::-webkit-scrollbar {
    width: 10px; /* ширина полосы прокрутки */
}

.scroll-containerPlus::-webkit-scrollbar-thumb {
    background: #888; /* цвет ползунка */
    border-radius: 5px; /* закругление */
}

.scroll-containerPlus::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет ползунка при наведении */
}

/* RunLoading */
.RunLoading-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgb(51, 51, 65), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0; /* Скрываем панель по умолчанию */
    animation: fadeInPanel 1s ease-in-out forwards; /* Анимация появления */
}

/* Анимация появления панели */
@keyframes fadeInPanel {
    0% {
        opacity: 0;
        transform: scale(0.9); /* Легкое уменьшение */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Возвращение к исходному размеру */
    }
}

/* Анимация загрузочного контента */
.RunLoading-content {
    text-align: center;
    animation: pulse 2s infinite; /* Пульсация */
}

/* Анимация пульсации */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.MadeWithTitle {
    position: absolute;
    top: -200px; /* Текст у верхней границы экрана */
    left: 0; /* Текст слева у края */
    font-size: 2rem;
    animation: slideDown 1.5s ease-out; /* Анимация спуска */
    font-family: 'CustomFont2', sans-serif; /* Укажите шрифт по своему предпочтению */
    text-align: center; /* Выравнивание текста по левому краю */
    margin: 20px; /* Отступ от верхнего и левого края */
}

/* Анимация спуска текста */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.AppMade img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

/* RunMenu */

.RunMenu-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Тёмно-серый цвет фона */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.close-RunMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-RunMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-RunMenu:hover {
    transform: scale(1.1);
}

.RunMenu-content {
    text-align: center;
}

/* ScriptMenu */

.ScriptMenu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-ScriptMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-ScriptMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-ScriptMenu:hover {
    transform: scale(1.1);
}

.ScriptMenu-content {
    text-align: center;
}

.titleScriptMenu {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

/* BuildSettingsMenu */

.BuildSettingsMenu-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Ширина панели */
    height: 600px; /* Высота панели */
    background-image: linear-gradient(90deg, rgb(102, 96, 103), rgb(133, 121, 145));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Центрирование панели */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    border-radius: 20px; /* Закругленные углы */
}

.close-BuildSettingsMenu {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    animation: fadeInTitle 2s ease-in-out forwards;
}

.close-BuildSettingsMenu img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.close-BuildSettingsMenu:hover {
    transform: scale(1.1);
}

.BuildSettingsMenu-content {
    text-align: center;
}

.titleBuildSettingsMenu {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    animation: fadeInTitle 1s ease-in-out;
}

.text-input-BuildSettingsMenu {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Горизонтальное центрирование текста */
    line-height: 20px; /* Вертикальное выравнивание для ровности */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input-BuildSettingsMenu:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.save-json-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(45deg, #1f2937, #293647, #233043);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-json-button:hover {
    background-image: linear-gradient(45deg, #1f2937, #293647, #233043);
}
